/* Import Sen Font */
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body
{
    display: flex;
    flex-direction: column;

    font-family: Sen, sans-serif;
    
    background-color: #fdfffc;

    min-height: 100vh;
}

/* Website Logo */
.logo
{
    width: 30px;
    height: 30px;
}

.navbar-brand
{
    display: flex;

    align-items: center;
    gap: 5px;
}

/* Custom Navbar */
.navbar-3ce
{
    display: flex;

    color: #fdfffc;
    background-color: #0b0705;

    font-size: 1.25rem;
    
    align-items: center;
}

.navbar-3ce .logo
{
    transform: translateY(0.6px);
}

.navbar-3ce a
{
    color: #fdfffc;
}

/* Custom Button */
.btn-3ce
{
    color: #fdfffc;
    background-color: #d9043d;

    border: none;
    border-radius: 10px;

    text-align: center;
}

.btn-3ce:hover, .btn-3ce:focus
{
    color: #fdfffc;
    background-color: #b80334;
}

.btn-3ce-secondary
{
    color: #fdfffc;
    background-color: #6c757d;

    border: none;
    border-radius: 10px;

    text-align: center;
}

.btn-3ce-secondary:hover, .btn-3ce-secondary:focus
{
    color: #fdfffc;
    background-color: #5a6268;
}

/* Hero Section */
.hero-background
{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 50vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 3rem 1rem;

    overflow: hidden;
}

.hero-card
{
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(6px) saturate(102%);
    -webkit-backdrop-filter: blur(6px) saturate(102%);

    padding: 3rem;
    margin-bottom: 1.5rem;

    max-width: 900px;
    width: 100%;

    text-align: center;

    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 12px;
}

.hero-card a
{
    display: block;

    margin: auto;

    max-width: fit-content;
}

.hero-title
{
    font-size: 3rem;
    font-weight: 500;

    margin-bottom: 1rem;
}

.hero-text
{
    font-size: 1.25rem;

    line-height: 1.6;
}

/* Feature Section */
.feature-box
{
    background-color: #fdfffc;
    padding: 2rem;

    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 12px;    

    box-shadow: 0 5px 15px rgba(0,0,0,0.05);

    height: 100%;
}

.feature-box:hover
{
    background-color: #d7e6ff;
    border-color: #5a93ff;
    
    transform: translateY(-5px);
}

.feature-box h3
{
    margin-bottom: 0.75rem;
    font-size: 1.4rem;
}

.feature-box p
{
    font-size: 1rem;
    color: #505050;
}

/* Sign Up Section */
.signup-image 
{
    background: url('../Images/Sign\ Up.jpg') no-repeat center center;
    background-size: cover;

    min-height: 250px;
}

/* Sign In Section */
.signin-image
{
    background: url('../Images/Sign\ In.avif') no-repeat center center;
    background-size: cover;

    min-height: 250px;
}

/* Footer */
footer 
{
    background-color: #0b0705;
    color: #fdfffc;

    margin-top: auto;

    text-align: center;
    
    padding: 10px;    
}

footer p
{
    margin: 0;
}

/* Responsive View */
@media( max-width: 992px)
{

}